<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image/text Analysis APP</title>
    <h1 style="text-align: center;">Image/text Analysis APP</h1>
    <style>
        .main {
            border: 1px solid black;
            margin: 1rem;
            padding: 2rem 2rem;
            text-align: center;
            background-color: darkgray;
        }
        .sub {
            display: inline-block;
            border: 1px solid rgb(118, 116, 240);
            padding: 1rem 1rem;
            vertical-align: middle;
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>
    <div class="main" style="height: 500px; width: 1250px;">
        <br><br><br><br><br><br><br>
        <div class="sub" style="height: 100px; width: 150px;">
            <a href="/image"><h2>IMAGE</h2></a>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="sub" style="height: 100px; width: 150px;">
            <a href="/text"><h2>TEXT</h2></a>
        </div>
    </div>
</body>
</html>